/* Overskriften*/
h1 {
    text-align: center;
    padding: 1px;
    width: 625px;
    margin: 20px auto 50px;
}

/* beskrivelse under diagram */
p {
    text-align: center;
    font-style: italic;
    width: 625px;
    margin: 20px auto 50px;
}

.chartCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* diagrammet sorte kant/udseende */
.chartBox {
    width: 625px;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

